body {
 margin: 0;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
 scroll-behavior: smooth;
}


.main {
 display: flex;
 flex-direction: column;
 justify-content: center;
 height: 100vh;
 align-items: center;
 text-align: center;
}

.main h1 {
 font-size: 3rem;
}

.first-para {
 margin-top: -20px;
 width: 400px;
 font-size: 1.1rem;
 color: rgb(77, 75, 75);
}

.input {
 display: flex;
 flex-direction: column;
 width: 400px;
 gap: 10px
}

.input label input {
 font-size: 1.5rem;
 padding: 10px;
}

.input button {
 background-color: #FFD688;
 border: none;
 font-size: 1.5rem;
 padding: 15px;
 font-weight: 700;
 cursor: pointer;
}

.input button:hover {
 background-color: rgb(205, 147, 71);
 transition: 0.5s ease-in-out;
}

.last-para {
 margin-top: 20px;
 font-size: 0.75rem;
 color: gray;
}